# Binaries
/note-maker
*.exe
*.exe~
*.dll
*.so
*.dylib
/yap-pad
/yap
# Go build artifacts
build/
*.test
*.out
coverage.out

/vendor/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
